.form-section {
  width: 100%
}

.new-item-form {
  background-color: #ffa647;
  display: flex;
  justify-content: center;
  margin: 20px 0px 0px 0px;
  padding: 50px 20px;
  width: 100%;
}

.new-item-form input, .new-item-form button {
  border: none;
  color: #592e00;
  font-size: 20px;
  vertical-align: middle
}

.new-item-form input {
  background-color: #ffa647;
  border-bottom: 2px solid #c2711c;
  border-radius: 0;
  padding: 0px 10px;
  margin-right: 25px;
  width: 60%;
}

.new-item-form input::placeholder{
  color: #c47a2b;
  font-size: 20px;
}

.new-item-form button {
  background-color: #c2711c;
  border-radius: 100px;
  height: 40px;
  text-align: center;
  padding: 0px;
  line-height: 40px;
  width: 40px;
  max-width: 40px;
}

.new-item-form button:hover {
  font-size: 23px;
}

@media (min-width: 600px) {
  .new-item-form {
    padding: 50px;
  }
  .new-item-form input {
    width: 30%;
    height: 40px;
  }
}
